#projects{
    background-color: rgb(0, 0, 0);
}
h2{
    color: #ddd;
    font-size: 28px;
    font-weight: 200;
}
.project-list {
    display:flex;
    flex-wrap: wrap;
    grid-gap: 25px;
    padding: 1%;
  }
  
  .project {
    background: #3b3939c0;
    border-radius: 2rem;
    height: 400px;
    margin: 1rem;
    padding: 1rem;
    width: calc(100%/4);
    color: rgb(196, 183, 183);
  }
  .project p{
    font-size: 18px;
    text-align: left;
  }
  .project h3{
    font-size: 23px;
    font-weight: 200;
    color:  rgb(160, 123, 60);
    border-bottom: rgba(201, 0, 0, 0.856) 1.5px solid;
  }
  .project a{
       color: rgb(117, 164, 149);
       text-decoration: none;
       font-size: 18px;
       text-align: left;
       padding: 0;

  }      
  .project a:hover{
       color: rgb(117, 164, 149);
       text-decoration:underline;
  }      